
select option {
  font-family: "Cairo", sans-serif
  ;
}
.address {
  min-height: 100vh;
  background-image: url("../images/BG.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.address .global-section {
  height: 80vh;
  padding-top: 130px;
}

.address .title-section {
  font-weight: 600;
  position: relative;
  color: #fff;
}

.address .form-group label {
  width: 100px;
  color: #fff;
  font-weight: 600;
}

.btn {
  border: 1px solid #000;
  display: block;
  width: fit-content;
  margin: 30px auto;
  padding: 10px 30px;
}
.btn:hover {
  background-color: #000;
  color: var(--gold-color);
}

.bakery-section {
  margin-bottom: 20px;
  cursor: pointer;
}
.bakery-section .swiper .swiper-wrapper .swiper-slide {
  height: 250px;
  background-color: #c3982ac4;
  border-radius: 10px;
  color: #fff
}
.bakery-section-h {
  display: none;
}
